<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="customer_special_price_checkout_cart_product_add_after"
                  instance="Extensions\CustomerSpecialPrice\Observer\CustomerSpecialPrice" />
    </event>
    <event name="sales_quote_add_item">
        <observer name="customer_special_price_sales_quote_add_item"
                  instance="Extensions\CustomerSpecialPrice\Observer\CustomerSpecialPrice" />
    </event>
</config>
