<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="customer_special_price" frontName="customer_special_price">
            <module name="Extensions_CustomerSpecialPrice" />
        </route>
    </router>
</config>
